<li>
	{{name}}

	<button class="devoured" data-id="{{id}}" data-justdevoured="{{devoured}}">
		{{#if devoured}}DEVOURED!{{else}}Another One?{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">No more pls</button>
</li>